<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <section class="section">
      <div class="container" id="app"></div>
    </section>
    <script src="/react.js"></script>
    <script src="/react-dom.js"></script>
    <% if (mode === 'PRODUCTION') { %>
      <script src="/bundle.js"></script>
    <% } %>
  </body>
</html>
