<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- TODO - Change the title -->
    <title>Hello React!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO - Don't CDN in production -->
    <link rel="stylesheet" href="/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container" id="app"></div>
    </section>
    <!-- TODO - Remove comments in html -->
    <!-- Dependencies -->
    <script src="/react.js"></script>
    <script src="/react-dom.js"></script>

    <% if (mode === 'PRODUCTION') { %>
      <script src="/bundle.js"></script>
    <% } %>
  </body>
</html>
