@charset "utf-8";
@import "~bulma/bulma";

.flexBox {
  display: flex;
}

.item {
  margin: 5px;
}

.content {
  width: 300px;
}

label {
  @extend .label;
  // TODO - Break a line between each declarations (@extend is a declaration)
  &:after {
    content: ' :';
  }
}

input {
  @extend .input;
}
